<% if user_signed_in? %>
  <div class="container col-md-offset-2 col-md-8">

    <div class="row">
      <%= render 'users/stats' %>
    </div>

    <div class="row">
      <%= render 'users/follow_form' if user_signed_in? %>
    </div>

    <div class="row">
      <%= render "posts/post_form" %>
    </div>

    <div class="row">
      <%= render 'users/feed' %>
    </div>
  </div>
<% else %>

  <div class="home">

    <div class="row">
      <div class="container col-md-7">
        <h1 class="homeHeader">Toot is the liveliest community for your travel conversations.</h1>
        <h2 class="homeSubheader">Some nice sub-header here.</h2>
      </div>


      <div class="container col-md-4">
        <li><%= link_to "Be a Tooter | Sign Up Now", new_user_registration_path, class: "btn btn-primary homeBtn" %></li>
        <li><%= link_to "Log In", new_user_session_path, class: "btn btn-primary homeBtn" %></li>
      </div>

    </div>

  </div>

<% end %>
