<div class="container col-md-2">

  <div class="row">
    <% unless current_user?(@user) %>
      <%= link_to "My Profile", user_path(current_user), class: "my-profile" %>
    <% else %>
      <%= link_to "Back to Home", root_path, class: "my-profile" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <%= render 'users/stats' %>
    </div>

    <div class="row">
      <%= render 'users/follow_form' %>
    </div>

    <% if current_user.id == @user.id %>
      <div class="row">
        <%= render 'groups/group_form' %>
      </div>
    <% end %>
  <% end %>
</div>
