
<%= render 'users/left_nav' %>

<div class="container col-md-8">

  <h3>Hello <%= @user.username %></h3>

  <% if @user.id == current_user.id %>
    <div class="row">
      <%= render "posts/post_form" %>
    </div>
  <% end %>

  <div class="row">
    <% if @user.posts.any? %>
      <ol class="userPosts">
        <%= render @posts %>
      </ol>
    <% end %>
    <%= will_paginate @posts %>
  </div>
</div>
