<div class="container col-md-offset-2 col-md-9">

  <div class="follow-header">
    <h3 class="follow-current"><%= @title %></h3>
    <% if @title == "following" %>
      <h3><%= link_to "followers", followers_user_path(@user), class: "show-follow-Btn" %></h3>
    <% else %>
      <h3><%= link_to "following", following_user_path(@user), class: "show-follow-Btn" %></h3>
    <% end %>
  </div>

  <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>
